@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
/* ready-made classess */
body {
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(white,white,#31226b ,#3f0071); */
  /* background-color: #a767ff; */
  background-color: #0047ab;
}
.p_0 {
  padding: 0px;
}

.df {
  display: flex;
}

.txt_center {
  text-align: center;
}

/* specific classes */
html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #f7e1994b; */
}

.infoEmail {
  background-color: rgba(46, 40, 40, 0.762);
  color: azure;
}

.info {
  text-decoration: none;
  color: white;
}

.info:hover {
  color: white;
}

.navbar-nav .nav-link.active::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  transition: 0.5s;
  background-color: #f0d200;
}
.navbar-nav .nav-link.active:hover:after {
  width: 100%;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #f0d200;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.navbar {
  /* background-image: linear-gradient(50%lightgrey,50% white); */
  background-color: #0047ab;
  /* background-color: #73C2FB; */
  /* color:#3043a1 #31226b #2b1867 #3f0071 #FA7D09; */
}
.header {
  border: 1px solid black;
  height: 10vh;
}

.sec1 {
  border: 1px solid black;
  height: 25vh;
}

/* services */
.servicesClass {
  /* background-color: white; */
}

.ourServices {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 20px;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #f0d200;
}

.listItems {
  margin: 30px;
  height: 15vh;
  color: #3f0071;
  cursor: pointer;
  /* background: linear-gradient(to bottom right, #3f0071 60%, rgb(0, 255, 255)); */
  background: linear-gradient(to bottom right, #f0d200, white);
  /* background-color: #f0d200; */
  border-radius: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 10px black;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}

.listItems:hover {
  /* background: linear-gradient(to bottom right, #3f0071, rgb(0, 255, 255) 90%); */
  background: white;
  color: #0047ab;
}

.lastItem {
  display: none;
}

.iconBG {
  background-color: white;
  width: 33px;
  border-radius: 50%;
  padding: 2px 0px;
  text-align: center;
}

.revealService {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}

.revealService.activeService {
  transform: translateX(0px);
  opacity: 1;
}

/* whatsapp */
.sec2 {
  /* border: 1px solid rgb(207, 23, 23); */
  /* height: 25vh; */
  margin: 10px 0px;
  background: url(../images/WahtsAppBG.jpg);
  /* background-color: #f0d755; */
}

.sec2 .offerImage {
  width: 100%;
  height: 25vh;
  border-radius: 0px 0px 70px 0px;
}

.sec2 .bg_wp {
  background: url(../images/WahtsAppBG.jpg);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.sec2 .wpText {
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: bolder;
}

.sec2 .linkStyle {
  text-decoration: none;
  color: white;
}

.sec2 .linkStyle:hover {
  text-decoration: underline;
}

.sec2 .scannerStyle {
  margin-left: 4vw;
  padding: 10px;
  background-color: rgba(25, 32, 26, 0.59);
  border-radius: 10px;
}

.sec2 .scannerText {
  color: white;
  text-align: center;
  margin: 0px;
  font-family: "Kanit", sans-serif;
}

.clickWP {
  font-size: 25px;
  font-weight: bold;
  font-family: "Merriweather", serif;
  /* background: linear-gradient(
    to left,
    blue,
    yellow,
    red
  ); */
  background: rgba(255, 0, 0, 0.729);
  -webkit-background-clip: text;
  color: transparent;
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    background: yellow;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.cursorClass {
  position: absolute;
  animation: moveCursor 2s linear infinite;
}

@keyframes moveCursor {
  0% {
    top: 120px;
  }
  50% {
    top: 90px;
  }
  80% {
    top: 60px;
  }
  100% {
    top: 60px;
  }
}

.reveal {
  position: relative;
  transform: translateX(-200px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateX(0px);
  opacity: 1;
}

.cardsCounter {
  margin: 20px 0px;
}

.columnStyle {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.acheivementsStyle {
  text-align: center;
}

.acheivementHeading {
  margin-bottom: 0px;
  margin-top: 20px;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #f0d200;
}

.counter_box {
  text-align: center;
  /* border: 1px solid black; */
  border-radius: 30px;
  border: 2px solid #31226b;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  color: #3043a1;
  background: radial-gradient(white 10%, #f0d200);
}

.icon_border {
  border: 1px solid goldenrod;
  height: 100px;
  width: 100px;
  text-align: center;
  transform: rotate(45deg);
  margin: 30px;
}

.fa_icon {
  font-size: 40px;
  /* margin: 15px auto; */
  transform: rotate(-45deg);
  /* color: yellow; */
  margin: 25px auto;
}

.counter {
  font-size: 50px;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}

.counter_title {
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  height: 50px;
  margin-bottom: 30px;
}
.navbar-brand img {
  width: 80px;
  height: 40px;
}
.mb-2,
.my-2 img {
  width: 50px;
  height: 30px;
}
.handles .fa-brands {
  font-size: 1.5em;
  margin-right: 1em;
  margin-left: 1em;
}

/* floating button */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: rgb(13, 172, 61);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 10;
}

.my-float {
  margin-top: 13px;
  font-size: 36px;
  margin-left: 2px;
}

.float1 {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 114px;
  right: 40px;
  background-color: darkgrey;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 10;
}

.my-float1 {
  margin-top: 13px;
  font-size: 36px;
  margin-left: 2px;
}

.fa-facebook {
  color: #f0d200;
}
.handles .fa-whatsapp {
  cursor: pointer;
  color: #f0d200;
}
.handles .fa-whatsapp:hover {
  color: #fff;
}
.fa-instagram {
  color: #f0d200;
}
footer h5 {
  color: #f0d200;
}
small {
  color: #f0d200;
}
.xyz li a {
  color: #f0d200;
}
footer {
  max-width: 100%;
}
.col-md {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  margin-left: 65px;
}
.pricing-header {
  color: #f0d200;
}
.card {
  background-color: #0047ab;
}
.card-header {
  background-color: #f0d200;
}
.card h4 {
  color: #0047ab;
}
.card-body h1 {
  color: #f0d200;
}
.card-body button {
  color: #0047ab;
  background-color: #f0d200;
}
.display-4 {
  font-weight: 600;
}
